.list-container {
  background-color: #FFFFFF;
  border: 5px solid #E10098;
  border-radius: 10px;
  margin-top: 10px;
  width: 1200px;
  height: auto;
}

.form-check{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom-color: #E10098;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.form-check-input {
    background-color: #FFFFFF !important;
    border-color: #E10098 !important;
    border-radius: 50% !important;

}



.form-check-input:checked  {
    background-color: #E10098 !important;
    border-color: #E10098 !important;
    border-radius: 50% !important;
}

.form-check-label{
    font-weight: bold;

}

.server-title{
    margin-top: 20px;
    color: #E10098;
    font-family: Oswald;
    font-size: 31px;
    line-height: 40px;
    width: 1000px;
    text-align: left;
}

.method-info{
    width: 40px;
    height: 40px;
}



.edit-btn{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    align-content: center;

}

.img-edit{
    width: 29px;
    height: 29px;
    float: right;
}

.method{
    padding-left: 15px;
}

.modal-edit-title{
    color: #E10098;
  font-family: Lato;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
}

.form-floating{
    background-color: #FFFFFF;
    border: 5px solid #E10098;
    border-radius: 10px;
    height: 34rem !important;

}

.form-control:disabled {
    background-color: #FFFFFF !important;
    opacity: 1;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(33.4rem ) !important;
    line-height: 1.25;
}

.form-atributes{
    text-align: left;
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Cambiar color de la scrollbar */
    scrollbar-color: #E10098 #FFFFFF !important;

}



.form-floating-type{
    background-color: #FFFFFF;
    border: 3px solid #E10098;
    border-radius: 10px;
    width: 250px !important;
    margin-right: 20px !important;

}

.checkbox-atribute{
    margin-left: 30px;
}

.type-atribute{
    margin-left: 10px;
}

.atribute{
    margin-top: 20px;
}

.type-information{
    margin-bottom: 30px;
}

.input-text-method-info{
    position: relative; /* Establece la posición relativa del contenedor */
    height: 85px;
}

.container input[type="text"]{
    position: absolute; /* Establece la posición absoluta del input */
    bottom: 0; /* Fija el input en la parte inferior del contenedor */
    margin-top: 10px; /* Agrega un margen superior de 10px */
    width: 100%; /* Ajusta el ancho del input al 100% del contenedor */
    background-color: #FFFFFF !important;
    border: 3px solid #E10098 !important;
    border-radius: 10px !important;

}

.save-button{
    background-color: #E10098;
    border: 3px solid #E10098;
    border-radius: 10px;
    width: 250px !important;
    height: 40px;
    color: #FFFFFF;
    font-style: italic;
    font-family: Oswald;

}

.div-build-button{
    margin-top: 50px;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;

}

.build-button{
    background-color: #E10098;
    border: 3px solid #E10098;
    border-radius: 10px;
    width: 250px !important;
    height: 40px;
    color: #FFFFFF;
    font-style: italic;
    font-family: Oswald;
    font-size: 20px;

}
