<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest2Graph</title>


    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

</head>
<body>
<header id="header" style="position: sticky; z-index:100; top: 0; width: 100%">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img class="nav-log" src="/static/images/logo.png">
            </a>
        </div>
    </nav>
</header>

<div class="container">
    <h1 class="title">Convierte tu APIRest a GarphQL </h1>
</div>
<div>
    <img class="page-logo" src="/static/images/logo.png">
</div>

<button class="main-button" id="modal-btn" data-bs-toggle="modal" data-bs-target="#file-modal">Seleccionar</button>

<div class="modal fade" id="file-modal" tabindex="-1" aria-labelledby="file-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Selecciona el fichero</h1>
            </div>
            <div class="modal-body">
                <form action="/upload-file" method="POST" id="post-file-form" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                               aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file">
                    </div>
                    <button class="upload-button" type="submit">Cargar</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

